@*
*@
@{
}
<!--William McPetrie - ST10263164 - CLDV POE-->

<!--References: https://www.w3schools.com/html/default.asp-->


<style>
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: transparent;
        flex-direction: column;
        gap: 20px;
    }

    .about-panel {
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: white;
        opacity: 0.9;
        text-align: center;
        max-width: 800px;
    }
</style>

<div class="about-container">
    <div class="about-panel">
        <h1>About KhumaloCraft</h1>
        <p>KhumaloCraft Emporium was founded by James Khumalo, James' aim was to create a global platform for artisans worldwide to share their and sell their creations</p>

        <h2>Our Mission</h2>
        <p>KhumaloCraft's Misson is to connect discerning individuals to artisans from all around ther world. One of the largest problems with finding well made hand crafted products is sourcing reliable and proven vendors, here at khumaloCraft that is all we do. Connecting customers to artisans on a global scale expands the hand crafted market exponentially. Allowing anyone to sell their hard work and displaying that hard work to the world.</p>
        <p>KhumaloCraft only lists quality goods that have been aproved by our goods department, so you can not only have the peace of mind of having good products but those products have the KhumaloCraft seal of aproval.</style>

        <h2>Our Vision</h2>
        <p>KhumaloCrafts Vision is to be the first choice for anyone looking for handcrafted goods of any type and from anywhere in the world, KhumaloCraft aims to become the leading dealer in handcrafted goods on the internet.</p>
    </div>
</div>

