@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--William McPetrie - ST10263164 - CLDV POE-->

<div class="text-center">
    <h1>Feel free to contact us if you are having any issues!</h1>
</div>

<div class="text-center">
    <h2>For Customers</h2>
    <a href="mailto:KhumaloCraft@gmail.com">KhumaloCraft@gmail.com</a> <!--Link for help on using email link on website https://www.shecodes.io/athena/63954-how-to-link-an-email-in-html#:~:text=To%20create%20an%20email%20link%20in%20HTML%2C%20you%20can%20use,to%20the%20specified%20email%20address.-->
    <p>Phone: +27 82 654 1234</p>
</div>

<div class="text-center">
    <h2>For Artisans</h2>
    <a href="mailto:KhumaloCraftSuppliers@gmail.com">KhumaloCraftSuppliers@gmail.com</a>
    <p>Phone: +27 82 978 9021</p>
</div>

