@{
    ViewData["Title"] = "Home Page";
}

<!--William McPetrie - ST10263164 - CLDV POE-->

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <h2>All Things Handmade</h2>
    <p></p>
</div>

<div class="text-center">
    <h3>KhumaloCraft offers handcrafted goods from all around the world!</h3>
    <img src="~/Images/homepage1.jpg"></img>
    <p></p>
</div>

<div class="text-center">
    <h2>Why Use KhumaloCraft?</h2>
    <p>KhumaloCraft is THE destination for handcrafted goods, all items on our website are available for sale and are all handmade. We only source goods that are handmade and of the greatest quality</p>
</div>

<div class="text-center">
    <h2>Find Us Here Too</h2>
    <a href="www.Facebook.com/KhumaloCraft">FaceBook</a>
    <p></p>
    <a href="www.Tiktok.com/KhumaloCraft">TikTok</a>
</div>
