@*
*@
@{
}
<!--William McPetrie - ST10263164 - CLDV POE-->


<h1>KhumaloCraft's Collection</h1>

<div class="text-center">
    <h2>Blue Dress</h2>
    <img src="~/Images/dress.jpg"></img>
    <p></p>
    <p>This dress was handmade South Africa. it only comes in blue but does come in all sizes</p>
    <p>R 2500.00</p>
</div>

<div class="text-center">
    <h2>Sterling Silver Ring</h2>
    <img src="~/Images/ring.jpg"></img>
    <p></p>
    <p>This ring was handmade in the USA, it is made of 925 sterling silver and comes in all ring sizes</p>
    <p>R 999.00</p>
</div>

<div class="text-center">
    <h2>Bucket Hat</h2>
    <img src="~/Images/hat.jpeg"></img>
    <p></p>
    <p>Hand sewn bucket hat with vibrant colours, hand sewn in Brazil</p>
    <p>R 450.00</p>
</div>
